@import url('https://fonts.cdnfonts.com/css/wolfsburg-castle');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creatinin', sans-serif;
}
  body {
    background: #ffffff;
    padding-top: 80px; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 45px 10%;
    background:  #a1a0a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Wolfsburg Castle', sans-serif;
                                                
  }

  .navbar a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    font-family: 'Wolfsburg Castle', sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    position: fixed; /* Alterado de absolute para fixed */
    bottom: 0; /* Posiciona o rodapé na parte inferior */
  }

#instagram{
    font-size: 19px ;
    float: right;
    color: #ffffff;
}

.copyright,
.email-team{
    font-size: 13px;
    float: left;

}



h1{
  color: black;
  margin-top: 150px;
  margin-left: 1200px ;
  font-size: 70px;
  font-family: 'Wolfsburg Castle', sans-serif;
}

/* .quadrado-img{
  height: 200px;
  width: 200px;
  background-color: red;
} */


#foto{
  height: 500px;
  width: 400px;
  margin-left: 300px;
}

