@import url('https://fonts.cdnfonts.com/css/wolfsburg-castle');
@import url('_cssPrincipal.css');
  .navbar a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    font-family: 'Wolfsburg Castle', sans-serif;
}

