
@import url('https://fonts.cdnfonts.com/css/wolfsburg-castle');
@import url('_cssPrincipal.css');

.slider{
  height: 500px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* talvez mudar para porcentagem no código */
.slider .container{
  width: 1600px;
  margin: auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
}

.slide-img{
  width: 100%;
  height: 275px;
  border-radius:5px ;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover{
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9)inset;
}
.slide-img a{
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color:#fff;
}
.slide-img:hover a{
  opacity: 1;
  transform: scale(1);
}

.img-1{
  background-image: url(../Files/pexels-antonio.jpg);
}
.img-2{
  background-image: url(../Files/pexels-asad-maldives.jpg);
}
.img-3{
  background-image: url(../Files/pexels-humberto-baddini.jpg);
}
.img-4{
  background-image: url(../Files/pexels-maldives.jpg);
}
.img-5{
  background-image: url(../Files/pexels-troy-squillaci.jpg);
}



@media(max-width:1600px){
  .container{
    width: 100%;
  }
}

/* 
button p {
  color: white;
  text-decoration: none;
  height: 15px;
  width: 300px;
}

button {
  border: none;
  background-color: transparent;
}

button p:hover {
  color: rgb(255, 0, 0);
} */
