
@import url('https://fonts.cdnfonts.com/css/wolfsburg-castle');
@import url('_cssPrincipal.css');

.navbar .btn-home {
  cursor: pointer;
  padding-bottom: 0.15em;
  background: linear-gradient(#8d03f0 0 0),
    linear-gradient(#8d03f0 0 0);
  background-size: 0.3em 0.1em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.35s linear;
  background-size: 0.3s 0.2s linear;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  font-family: 'Wolfsburg Castle', sans-serif;
}

.navbar .btn-home:hover {
  transform: scale(1.05);
  background-size: 40% 0.1em;
  background-position: 10% 100%, 90% 100%;
}

button p {
  color: white;
  text-decoration: none;
  height: 15px;
  width: 300px;
}

button {
  border: none;
  background-color: transparent;
}

button p:hover {
  color: rgb(255, 0, 0);
}
